h1{
    color: red;
    background-color: yellow;
    text-align:center;
    border: 10px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
}
.author{
    color: blue;
    background-color: lightgray;
    text-align: center;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000000;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888888;
}
